$button__border: 1px solid transparent;
$button__border__color-hover: #ff0679;
$button__border__color-focus: #ff0679;
$button__background-color: #00edcb;
$button__background-color-hover: #ff0679;
$button__text-color: #353f48 ;
$button__text-color-hover: #fff;
$button__font-size: 1rem;
$button__font-family: 'Montserrat', sans-serif;
$button__font-weight: 600;
$button__border-radius: 26px;
$button__padding: 6px 12px;